div.footer {
	margin-top: auto;
	position: fixed;
	left: 0;
	bottom: 0;

	padding: 13px;
	padding-left: 0;
	background-color: var(--background-detail);
	border-top: 1px solid #555555;
	border-right: 1px solid #555555;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	box-shadow: 0 0 5px 5px #00000050;
}

div.footer>* {
	margin-left: 13px;
}
