html, body {
    background: var(--background);
    max-height: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

div.container-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    /* margin: 1000px; */
}

div.container {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
}

@media screen and (max-width:1140px)
{
    div.container {
        flex-wrap: wrap;
    }
}

a, a>* {
    text-decoration: none;
    color: var(--primary);
}

a:hover, a:hover>* {
    color: var(--secondary);
}

a:active, a:active>* {
    color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Protest Strike";
}
