/* import various fonts */
/* @import url("https://fonts.googleapis.com/css?family=Protest+Guerrilla"); */
/* @import url("https://fonts.googleapis.com/css?family=Sixtyfour"); */
@import url("https://fonts.googleapis.com/css?family=Protest+Strike");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url(animations.css);

:root {
    --primary: #FF00FF;
    --secondary: #00DBFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Protest Strike";
}

html {
    height: 100%;
}

body {
    font-family: "Roboto Mono";
}

img.icon {
    height: 2rem;
    width: 2rem;
}

img.sepia {
    filter: sepia(75%);
}
