/* import fonts */
@import url("https://fonts.googleapis.com/css?family=Protest+Strike");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

/* import CSS files */
@import url(./body.css);
@import url(./navbar.css);
@import url(./image.css);
@import url(./animations/animations.css);

:root {
    --primary: #FF00FF;
    --secondary: #00DBFF;

    --foreground: #DEDEDE;
    --background: #252525;
    --background-detail: #353535;
}


* {
    color: var(--foreground);
    font-family: "Roboto Mono";
}
