.flicker-on-load-1 {
	animation: flicker 0.5s normal 0.5s 1 forwards;
}

.flicker-on-load-2 {
	animation: flicker 0.5s normal 0.6s 1 forwards;
}

.flicker-on-load-3 {
	animation: flicker 0.5s normal 0.7s 1 forwards;
}

.flicker-on-load-4 {
	animation: flicker 0.5s normal 0.8s 1 forwards;
}

@keyframes flicker {
	0% {
		opacity: 50%;
	}

	10% {
		opacity: 100%;
	}

	20% {
		opacity: 25%;
	}

	40% {
		opacity: 100%;
	}

	50% {
		opacity: 50%;
	}

	100% {
		opacity: 100%;
	}
}
